<!--
  Generated template for the DetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar >
    <ion-title >{{tehRef}}</ion-title>
      <ion-buttons end>
        <button ion-button icon-only class="dropDownHeader_Btn">
            <i class="material-icons">more_vert</i>
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>

<div class="contentDrop">
    <ul>
        <li (click)="logout();" ><span>Se déconnecter</span> <i class="material-icons">power_settings_new</i></li>
    </ul>
</div>


<ion-content>

      <!-- <mat-card>
        <mat-card-content>
          <mat-tab-group class="demo-tab-group">



            <mat-tab label="Liste">
                <ng-template mat-tab-label>
                    <i class="material-icons md-20">view_list</i><br>Liste
                  </ng-template>
            </mat-tab>

            <mat-tab label="Map">
                <ng-template mat-tab-label>
                    <i class="material-icons md-20">map</i><br>Map
                  </ng-template>
            </mat-tab>

            <mat-tab label="">
                <ng-template mat-tab-label>
                <i class="material-icons md-20">chat</i><br>Messages
                </ng-template>
            </mat-tab>



          </mat-tab-group>
        </mat-card-content>
      </mat-card> -->
      <!-- End Menu page -->


















                  <div class="instructionOrder" [hidden]="id_activeOrder != mission_id">
                    <ion-grid>
                        <ion-row center>
                          <ion-col col-2 class="txtCenter">
                              <i class="material-icons">
                                      {{StatusInfos.StatusIcon}}
                              </i>
                          </ion-col>
                          <ion-col col-10>
                              <div class="currentStatus">{{StatusInfos.StatusMsg}}</div>
                              <div class="creneauOrder"> 30 Sep 2018 - 00:49PM</div>
                          </ion-col>

                            <div class="inLineAlert" [innerHTML]="StatusInfos.StatusAlert">
                              {{StatusInfos.StatusAlert}}
                            </div>

                      <div class="cont_btns adjustable">
                        <button ion-button class="classicBtn greenBtn" round (click)="changueStatus()">
                          <i class="material-icons">done</i>
                          {{StatusInfos.StatusAction}}
                        </button>
                        <button ion-button class="classicBtn whiteBtn iconicOnly" round>
                              <i class="material-icons">textsms</i>
                        </button>
                        <button ion-button class="classicBtn whiteBtn iconicOnly" round>
                              <i class="material-icons">photo_camera</i>
                        </button>
                      </div>

                    </ion-row>
                    </ion-grid>

               </div>  <!-- End instructionOrder DIV -->












              <div class="cont_Order" padding *ngFor="let mission of missionsDetail" >

                    <div class="entrepotBoxInfos">

                          <ion-row center>
                             <ion-col col-2 class="txtCenter"><i class="material-icons">publish</i></ion-col>
                             <ion-col col-9 class="detailList">
                                  <div class="name">{{mission.infos_loading.location.name}}</div>
                              <ion-row>
                              <ion-col col-1><i class="material-icons">location_on</i></ion-col>
                              <ion-col col-11>{{mission.infos_loading.location.address}}</ion-col>
                              </ion-row>


                  <ion-row>
                  <ion-col col-1><i class="material-icons">access_time</i></ion-col>
                  <ion-col col-11>Créneau : {{mission.infos_loading.location.time_start}}</ion-col>
                  </ion-row>


                 <ion-row>
                  <ion-col col-1><i class="material-icons">directions_bus</i></ion-col>
                  <ion-col col-11>Mode de chargement : {{mission.infos_loading.location.loading_mode}}</ion-col>
                 </ion-row>


                 <ion-row>
                  <ion-col col-1><i class="material-icons">person</i></ion-col>
                  <ion-col col-11>{{mission.infos_loading.location.contact}}</ion-col>
                 </ion-row>

                 <ion-row>
                  <ion-col col-1><i class="material-icons">phone</i></ion-col>
                  <ion-col col-11>{{mission.infos_loading.location.phone_fixed}} / {{mission.infos_loading.location.phone_mobile}} </ion-col>
                 </ion-row>

                 <ion-row>
                      <ion-col col-1><i class="material-icons">info</i></ion-col>
                      <ion-col col-11>Consignes : {{mission.infos_loading.location.instructions}} </ion-col>
                 </ion-row>



                              </ion-col>
                          </ion-row>

                    <div class="backBtn" (click)="closeDetail()"><i class="material-icons">keyboard_backspace</i></div>

                </div><!--  entrepotBoxInfos  -->




                <div class="entrepotBoxInfos">
                  <ion-row center>
                     <ion-col col-2 class="txtCenter"><i class="material-icons">get_app</i></ion-col>
                     <ion-col col-9 class="detailList">
                          <div class="name">{{mission.infos_delivery.location.name}}</div>

           <ion-row>
          <ion-col col-1><i class="material-icons">location_on</i></ion-col>
          <ion-col col-11>{{mission.infos_delivery.location.address}}</ion-col>
          </ion-row>


          <ion-row>
          <ion-col col-1><i class="material-icons">access_time</i></ion-col>
          <ion-col col-11>Créneau : {{mission.infos_delivery.location.time_start}}</ion-col>
          </ion-row>


          <ion-row>
          <ion-col col-1><i class="material-icons">directions_bus</i></ion-col>
          <ion-col col-11>Mode de chargement : {{mission.infos_delivery.location.loading_mode}}</ion-col>
          </ion-row>


          <ion-row>
          <ion-col col-1><i class="material-icons">person</i></ion-col>
          <ion-col col-11>{{mission.infos_delivery.location.contact}}</ion-col>
          </ion-row>

          <ion-row>
          <ion-col col-1><i class="material-icons">phone</i></ion-col>
          <ion-col col-11>{{mission.infos_delivery.location.phone_fixed}} / {{mission.infos_delivery.location.phone_mobile}}</ion-col>
          </ion-row>


          <ion-row>
                  <ion-col col-1><i class="material-icons">info</i></ion-col>
                  <ion-col col-11>Consignes : {{mission.infos_delivery.location.instructions}} </ion-col>
             </ion-row>


                      </ion-col>
                  </ion-row>

            <div class="backBtn" (click)="closeDetail()"><i class="material-icons">keyboard_backspace</i></div>

          </div><!--  entrepotBoxInfos  -->



                <div class="elem_order_detail" (click)="detailEntrepot('0')">

                    <ion-grid>
                        <ion-row center>
                          <ion-col col-2 class="txtCenter">
                              <i class="material-icons">
                                  publish
                              </i>
                          </ion-col>
                          <ion-col col-8>
                              <div class="detail_status_order">Chargement</div>
                              <div class="detail_entrepot_a">
                                <div>{{missionsDetail[0].infos_loading.location.name}}</div>
                              </div>
                              <div class="detail_order_creneau_and_status">
                                      <i class="material-icons">access_time</i>
                                      {{missionsDetail[0].infos_loading.location.time_start}}
                              </div>
                          </ion-col>
                          <ion-col col-2 class="txtCenter activeOrderList">
                              <i class="material-icons">call_made</i>
                          </ion-col>
                        </ion-row>
                      </ion-grid>

                </div>





                <div class="elem_order_detail" (click)="detailEntrepot('1')">

                    <ion-grid>
                        <ion-row center>
                          <ion-col col-2 class="txtCenter">
                              <i class="material-icons">
                                      get_app
                              </i>
                          </ion-col>
                          <ion-col col-8>
                              <div class="detail_status_order">Livraison</div>
                              <div class="detail_entrepot_a">
                                  <div>{{missionsDetail[0].infos_delivery.location.name}}</div>
                              </div>
                              <div class="detail_order_creneau_and_status">
                                      <i class="material-icons">access_time</i>
                                      {{missionsDetail[0].infos_delivery.location.time_start}}
                              </div>
                          </ion-col>
                          <ion-col col-2 class="txtCenter activeOrderList">
                              <i class="material-icons">call_made</i>
                          </ion-col>
                        </ion-row>
                      </ion-grid>

                </div>




                      <div class="elem_order_detail" >

                    <ion-grid>
                        <ion-row center>
                          <ion-col col-2 class="txtCenter">
                              <i class="material-icons">
                                      widgets
                              </i>
                          </ion-col>
                          <ion-col col-9>
                              <div class="detail_status_order">Marchandise</div>
                              <div class="detail_entrepot_a">
                                <div class="accordionStyle" (click)="showDetailMarchandise()">
                                      {{missionsDetail[0].load_type}}
                                      <div id="detailsMarchandise">

                                              <div class="elemDetail_marchandise">
                                                  {{missionsDetail[0].comment}}
                                              </div>
                                              <div class="elemDetail_marchandise">
                                                  <strong>Type de véhicule</strong> : {{missionsDetail[0].vehicle_type}}
                                              </div>

                                          <div *ngIf="palettes">
                                              <div class="elemDetail_marchandise">
                                                  <strong>Nombre de Palettes</strong> : {{TotalPalettes}}<br>
                                              </div>
                                              <div class="elemDetail_marchandise">
                                              <strong>Détails Palettes</strong> :
                                              <ul *ngFor="let palette of palettes; let i = index">
                                                        <li>
                                                            {{palette.dimensions}} x {{palette.quantity}}
                                                            <span *ngIf="palette.stackable">,Empilable</span>
                                                            <span *ngIf="palette.swap"> ,Echange de Palette</span>
                                                        </li>
                                              </ul>
                                              </div>
                                          </div>

                                          <div *ngIf="entireTruck">
                                                  <div class="elemDetail_marchandise">
                                                          <strong> Camion complet</strong> : {{entireTruck.weight}} Kg<br>
                                                   </div>
                                          </div>

                                       </div>
                                       <div class="readMoreDetail"><span>Lire plus</span><span>Lire moins</span></div>
                                </div>
                              </div>
                              <!-- <div class="detail_order_creneau_and_status">
                                      <i class="material-icons">access_time</i>
                                      23/03 - 16:20
                              </div> -->
                          </ion-col>
                         <!--  <ion-col col-2 class="txtCenter activeOrderList">
                              <i class="material-icons">call_made</i>
                          </ion-col>-->
                        </ion-row>
                      </ion-grid>

                </div>

              </div><!--cont_Orders -->


    </ion-content>
